body {
    background-image: url("purplek.jpg");
  
    /* Center and scale the image nicely */
    background-position: left 0px top 25px;
    background-repeat: no-repeat;
    background-size: 95% 110%;
  
}

button {
    border: none;
    background-color: #202020;
    color: aliceblue;
    cursor: pointer;
}