body {
    background-image: url("https://thumbs.dreamstime.com/b/set-movie-design-elements-cinema-icons-flat-style-42128579.jpg");  
    background-repeat: repeat;
    background-position: left -90px top 20px;
}
    
