body {
    background: url("purplenight.jpeg");
  
    /* Center and scale the image nicely */
    background-position: left -30px top 48px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 90% 100%;
}

button {
    border: none;
    background-color: #202020;
    color: aliceblue;
    cursor: pointer;
}
::placeholder {
    padding-left: 20px; 
}

table {
    border: white;   
}

td {
padding: 2px 13px; 
text-align: center;
}

tr {
text-align: center;    
}

td{
    font-family: Bahnschrift Bold;
    font-size:105%;
}
